header {
width: 100%;
text-align: center;
}

@media screen and (min-width: 1024px) {

.div-adapt {
}
.div-adapt img {
	width: 15%;
}
}



@media screen and (min-width: 768px ) and (max-width: 1024px) {

.div-adapt {
}
.div-adapt img {
	width: 44%;
}
}

@media screen and (max-device-width: 768px) {
.div-adapt {
	display: flex;
	flex-direction: column;
}
.div-adapt img {
	width:50%;
}
}