header {
width: 100%;
text-align: center;
}

@media screen and (min-width: 1024px) {

.div-adapt {
}
.div-adapt img {
	width: 15%;
}
}



@media (min-width: 768px ) and (max-width: 1024px) {

.div-adapt {
}
.div-adapt img {
	width: 44%;
}
}

@media screen and (max-width: 768px) {
.div-adapt {
	display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}
.div-adapt img {
	width:100px;
    height: 100px;
}
}

@media screen and (max-device-width: 768px) {
.div-adapt {
	display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}
.div-adapt img {
	width:500px;
    height: 500px;
}
}