body { 
  display: grid;
  grid-template-areas: 
    "nav article ads"
      "nav content content"
    "nav footer footer";
  grid-template-rows: 80px 20px 500px ;  
  grid-template-columns: 50% 25% 25%;
  grid-gap: 10px;
  height: 100vh;
  margin: 5;
  }  
#pageHeader, #pageFooter, #mainArticle, #mainNav, #siteAds, #pageContent {
  padding: 1em;
  background: gold;
  }
#pageHeader {
  grid-area: header;
  }
#pageFooter {
  grid-area: footer;
  }
#mainArticle { 
  grid-area: article;     
  position: relative;
  }
#mainNav { 
  grid-area: nav; 
  }
#siteAds { 
  grid-area: ads; 
  }
#mainArticle > .phone {
  position: absolute;
  bottom: 0;
  right: 1vw;
  font-size: 3em;
}